h1{
	text-align: center;
	font-size: 50px;
}
body{
	background-color: grey;
	text-align: center;
}
.pk{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	height: 210px;
}
.koli{
	margin: auto;
	width: 600px;
	padding: 1%;

}
.kp{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 290px;
}
.xx{
	margin: auto;
	width: 700px;
	padding: 1%;
}
.y{
	margin: auto;
	width: 800px;
	padding: 1%;

}
